<%- include('../partials/head') %>
<title>Casha || Login</title>
<%- include('../partials/headclose') %>
<%- include('../partials/navbar') %>
<div class="loginBody">
  <form method="post" action="/reset/<%= user._id %>" novalidate class="loginForm">
    <div class="logoWrapper">
      <img src="/images/logo.png" class="logo" />
    </div>
    <%- include('../partials/flash') %>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label"><%= user.username %></label>
      <input required name="password" type="password" class="form-control" placeholder="Change Password">
    </div>
    <button class="loginButton">Change Password</button>
  </form>
</div>
<%- include('../partials/bodyclose') %>
