<%- include('../partials/head') %>
<title>Casha || Login</title>
<%- include('../partials/headclose') %>
<%- include('../partials/navbar') %>
<div class="loginBody">
  <form method="post" action="/reset" novalidate class="loginForm">
    <div class="logoWrapper">
      <img src="/images/logo.png" class="logo" />
    </div>
    <%- include('../partials/flash') %>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Account Email</label>
      <input required name="username" type="email" class="form-control" placeholder="example@example.com">
    </div>
    <button class="loginButton">Send Link</button>
  </form>
</div>
<%- include('../partials/bodyclose') %>
